@font-face {
  font-family: Homemade Apple;   /*Logo*/
  src: url("../fonts/HomemadeApple-Regular.ttf") format("truetype");
}

@font-face {  
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype");        
}
@font-face {  
  font-family: Gilroy;
  src: url("../fonts/Gilroy-SemiBold.ttf") format("truetype");        
}
@font-face {  
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Regular.ttf") format("truetype");        
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
