$orange:#F7941E;
$white: #ffff;
$black: #000000;
$light-black: #231F20;
$background-header:#FAFAFA;
$background-sectionOne:#F1F1F2;
$background-sectionThree:#F7941E;
$background-gift_information:#FAFAFA;
$background-footer:#FAFAFA;


$font-gilroy: Gilroy, sans-serif;
$font-HomemadeApple: Homemade Apple, sans-serif;
$font-Roboto: Roboto, sans-serif;
$size-18: 18px;

$bp-mobile:375px;
$bp-mobile-sm:520px;
$bp-tablet:768px;
$bp-tablet-lg:1024px;
